body{
    margin: 0;
    overflow-x: hidden;
}

.header{
    /*width: 100%;*/
    /*background: black;*/
    background: url('images/img.png') top;
    /*background: linear-gradient(to right, rgb(0 0 0 / 92%), rgba(0, 0, 0, 0));*/
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 2560px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background 0.3s ease;
}

@media (max-width: 800px){
    .header{
        background: black;
    }


}


.header.scrolled {
    background: #000; /* Изменить на желаемый цвет или фон */
}

.logo1{
    padding-left: 10px;
}

.logo{
    width: 290px;
}

@media (max-width: 799px) {
    .logo{
        width: 190px;
    }
}

/*.openbtn {*/
/*    font-size: 20px;*/
/*    cursor: pointer;*/
/*    background: none;*/
/*    color: yellow;*/
/*    border: 0;*/
/*}*/

/*.sidebar {*/
/*    height: 100%;*/
/*    width: 0;*/
/*    position: fixed;*/
/*    z-index: 2000;*/
/*    top: 0;*/
/*    right: 0;*/
/*    background-color: #eb913b;*/
/*    overflow-x: hidden;*/
/*    transition: 0.5s;*/
/*    padding-top: 60px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.sidebar a {*/
/*    padding: 8px 8px 8px 32px;*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    color: black;*/
/*    display: block;*/
/*    transition: 0.3s;*/
/*    font-weight: 700;*/
/*}*/

/*.sidebar a:hover {*/
/*    color: #f1f1f1;*/
/*}*/

/*.sidebar .closebtn {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 25px;*/
/*    font-size: 36px;*/
/*    margin-left: 50px;*/
/*}*/


#main {
    transition: margin-left .5s;
    padding: 16px;
}

.pushmenu{
    color: #0fff0f;
    font-size: 40px;
}


#nav-icon3 {
    /*width: 40px;*/
    /*height: 30px;*/
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #90b5cc;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0px;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 12px;
}
#nav-icon3 span:nth-child(4) {
    top: 24px;
}
#nav-icon3.open span:nth-child(1),#nav-icon3.opened span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
}
#nav-icon3.open span:nth-child(2),#nav-icon3.opened span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3),#nav-icon3.opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4),#nav-icon3.opened span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
}

.sidebar #nav-icon3 span {background: #fff;}

body.sidebar-opened {overflow:hidden;}
.hidden-overley {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000000;
    opacity:0;
    width:0;
    height:0;
    transition: opacity 1s;
}
.hidden-overley.show {
    height: 100%;
    width: 100%;
    opacity:0.5;
    transition: opacity 1s;
}
.sidebar{
    position: fixed;
    z-index:100;
    width: 300px;
    height: 100%;
    right: -300px;
    top:0;
    background: black;
    transition: right 0.4s ease;
    overflow: auto;
}
.sidebar .d-flex.p-2 {display:-webkit-box;display:flex;padding: 10px!important;}
.sidebar .text{
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: inherit;
    text-align: center;
    background: black;
    letter-spacing: 1px;
    -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between; -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;
}
.sidebar .side-tel {font-size:0.8rem;}
.sidebar .text a {color: white;}

.sidebar.show{
    right: 0px;
}
.sidebar ul{
    background: none;
    height: auto;
    width: 100%;
    list-style: none;
    margin: 0;
    padding:0;
}
.sidebar ul li{
    line-height: 60px;
    border-top: 1px solid #eee;
    margin: 0;
}
.sidebar ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
.sidebar ul li a{
    box-sizing:border-box;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    font-weight: 500;
    display: block;
    width: 100%;
    /*border-left: 3px solid #eee;*/
}
.sidebar ul li.current-menu-item a{
    color: white;
    background: black;
    /*border-left-color: #90b5cc;*/
}
.sidebar ul li a:hover{
    cursor:pointer;
    background: #F5F5F5;
    /*border-left-color: #2196F3;*/
}
.sidebar ul ul{
    position: static;
    display: none;
}
.sidebar ul .sub-menu.show{
    display: block;
}

.sidebar ul ul li{
    line-height: 42px;
    border-top: none;
}
.sidebar ul ul li a{
    font-size: 17px;
    color: #333;
    padding-left: 40px;
}
.sidebar ul li.current-menu-item ul li a{
    color: #333;
    background: #f9f9f9;
    border-left-color: transparent;
}
.sidebar ul li ul li.current-menu-item a {color:#2196F3;}
.sidebar ul ul li a:hover{
    color: #333!important;
    background: #F5F5F5!important;
}
.sidebar ul li a i:before {display:none;}
.sidebar ul li.menu-parent-item a i:before{
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
    width: 20px;
    height: 20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.011 512.011' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-size: contain;
    display: block;
}
.sidebar ul ul a i:before {display:none !important;}
.sidebar ul li a i.rotate:before{
    transform: translateY(-50%) rotate(-180deg);
}

.venice{
    background: url('images/img.png') center;
    /*background: linear-gradient(to right, rgb(0 0 0 / 92%), rgba(0, 0, 0, 0));*/
    /*filter: opacity(40%);*/
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 2200px;
    height: 600px;
    /*height: 2000px;*/
    overflow: hidden;
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/*#main-header {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    z-index: 1000;*/
/*    display: none; !* скрыто по умолчанию *!*/
/*}*/

/*#secondary-header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    background: #0000004a;*/
/*    border-bottom: 1px solid white; !* показывается по умолчанию *!*/
/*}*/

/*.sticky-active {*/
/*    display: flex !important; !* показывает sticky header *!*/
/*}*/

/*.sticky-inactive {*/
/*    display: none !important; !* скрывает secondary header *!*/
/*}*/

.photo-transfer{
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.kind-of-transfers{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-about-transfers{
    font-size: 25px;
    font-weight: 500;
    font-family: EuclidFlexReg, sans-serif;
}

.link-transfer{
    text-decoration: underline;
    color: #212121;
    font-weight: 700;
    font-size: 16px;
}

.anketa{
    max-width: 400px;
    /* height: 500px; */
    background: #086faa8f;
    border-radius: 10px;
    margin-right: 100px;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.advantages-tranfers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 100px;
    margin-bottom: 100px;
}

.advantages-tranfers1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.advantages-tranfers2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

@media (max-width: 1046px) {
    .advantages-tranfers2{
        flex-direction: column-reverse;
    }
}



.img-advantages{
    max-width: 400px;
    border-radius: 10px;
}

.text-advantages-tranfers{
    max-width: 600px;
}

.name{
    font-size: 25px;
    font-weight: 500;
    font-family: EuclidFlexReg, sans-serif;
}

.name-of-text{
    font-size: 18px;
    font-weight: 500;
    font-family: EuclidFlexReg, sans-serif;
}

@media (max-width: 416px) {
    .name{
        font-size: 20px;
    }

    .name-of-text{
        font-size: 16px;
    }

    .text-advantages-tranfers{
        max-width: 300px;
        text-align: center;
        justify-content: center;
    }

    .img-advantages{
        max-width: 300px;
    }
}

.footer{
    background: black;
    width: 100%;
}

.photo-social-media{
    width: 50px;
}

.social-media{
    display: flex;
}

.phone{
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: EuclidFlexReg, sans-serif;
}

.contacts1{
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: EuclidFlexReg, sans-serif;
}

.contacts{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 1rem;
    margin-bottom: 10px;
}

.anketa-form{
    width: 320px;
    height: 60px;
    background: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.anketa-form:focus-within {
    /*border: 1px solid black; !* Цвет и ширина границы при фокусе *!*/
}

.text-anketa{
    font-size: 1rem;
    font-family: EuclidFlexReg, sans-serif;
    font-weight: 600;
}

.text-text{
    width: 320px;
    height: 24px;
    margin-top: 7px;
    border: 0;
}

.text-text:focus{
    outline: 0;
}

.button-send{
    width: 330px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    background: white;
    font-size: 1rem;
    font-family: EuclidFlexReg, sans-serif;
    cursor: pointer;
}

@media (max-width: 460px){
.anketa{
    margin-right: 0;
}

    .anketa-form{
        width: 280px;
    }

    .text-text{
        width: 250px;
    }

    .button-send{
        width: 290px;
    }
}